<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Tipo de Media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        section {
            padding: 20px;
        }

        form {
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            margin: 20px auto;
            width: 80%;
            max-width: 600px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-top: 10px;
            color: #4b0082;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        input[type="submit"]:hover {
            background-color: #6a5acd;
        }

        .btn {
            background-color: #4b0082;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        .btn-volver {
            margin-right: 10px;
        }

        .errors {
            color: red;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .errors li {
            margin-top: 5px;
        }
    </style>
</head>
<body>
<h1>Tipo Media</h1>
<h2>Editar {{tipomedia.id_tmedia}}</h2>
<a href="/admin/tipomedia/listar" class="btn btn-volver">Volver al listado de tipo media</a>
<section>
    {{#if errors.length}}
        <ul class="errors">
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
    <form action="/admin/tipomedia/update/{{tipomedia.id_tmedia}}" method="post">
        <fieldset>
            <legend>Media</legend>
            <label for="id_tmedia">Id</label>
            <input id="id_tmedia" name="id_tmedia" type="text" value="{{tipomedia.id_tmedia}}" disabled>

            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text" value="{{tipomedia.nombre}}">

            <label for="activo">Activo</label>
            <select id="activo" name="activo">
                <option value="1" {{#if (eq tipomedia.activo 1)}}selected{{/if}}>Activo</option>
                <option value="0" {{#if (eq tipomedia.activo 0)}}selected{{/if}}>Inactivo</option>
            </select>
        </fieldset>
        <input type="submit" value="Editar">
    </form>
</section>
</body>
</html>
