<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        /* Estilos para el formulario */
        form {
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            margin: 20px auto;
            width: 80%;
            max-width: 600px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        form label {
            display: block;
            margin: 10px 0 5px;
            color: #4b0082;
        }

        form input[type="text"],
        form input[type="file"],
        form select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: calc(100% - 22px);
            margin-bottom: 10px;
        }

        form input[type="submit"] {
            background-color: #4b0082;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        form input[type="submit"]:hover {
            background-color: #6a5acd;
        }

        /* Estilos para los mensajes de error */
        .error-message {
            color: red;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .error-field {
            border-color: red;
        }
    </style>

    <script>
        // Función JavaScript para cambiar la visibilidad de los campos según el tipo de media seleccionado
        // Esta función se ejecutará al cargar la página y cuando cambie la selección del tipo de media
        function toggleFields() {
            const tipoMediaSelect = document.getElementById('id_tmedia');
            const urlField = document.getElementById('url');
            const fileField = document.getElementById('imagen');

            const selectedType = tipoMediaSelect.options[tipoMediaSelect.selectedIndex].text;

            if (selectedType === 'Imagen' || selectedType === 'Dibujo') {
                urlField.value = '';
                urlField.disabled = true;
                fileField.disabled = false;
            } else if (selectedType === 'YouTube') {
                fileField.value = '';
                fileField.disabled = true;
                urlField.disabled = false;
            } else {
                urlField.disabled = false;
                fileField.disabled = false;
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const tipoMediaSelect = document.getElementById('id_tmedia');
            tipoMediaSelect.addEventListener('change', toggleFields);
            toggleFields();  // Inicializar los campos correctamente al cargar la página
        });
    </script>
</head>
<body>
<h1>Crear Nuevo Media</h1>
<a href="/admin/media/listar" class="btn btn-volver">Volver al listado de media</a>

<!-- Formulario para crear un nuevo media -->
<form action="/admin/media/create" method="POST" enctype="multipart/form-data">
    <!-- Campo para el título -->
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo"><br><br>

    <!-- Campo para la URL -->
    <label for="url">URL:</label>
    <input type="text" id="url" name="url">
    <br><br>

    <!-- Campo para seleccionar un archivo de imagen -->
    <label for="imagen">Seleccionar archivo:</label>
    <input type="file" id="imagen" name="imagen" accept="image/*"><br><br>

    <!-- Campo para seleccionar la matrícula del integrante -->
    <label for="matricula">Matrícula del integrante:</label>
    <select id="matricula" name="matricula">
        <!-- Opciones generadas dinámicamente desde el backend -->
        {{#each integrantes}}
            <option value="{{matricula}}">{{nombre}} {{apellido}} ({{matricula}})</option>
        {{/each}}
    </select><br><br>

    <!-- Campo para seleccionar el tipo de media -->
    <label for="id_tmedia">Tipo de Media:</label>
    <select id="id_tmedia" name="id_tmedia">
        <!-- Opciones generadas dinámicamente desde el backend -->
        {{#each tiposMedia}}
            <option value="{{this.id_tmedia}}">{{this.nombre}}</option>
        {{/each}}
    </select><br><br>

    <!-- Campo para seleccionar si el media está activo -->
    <label for="activo">Activo:</label>
    <select id="activo" name="activo">
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
    </select><br><br>

    <!-- Aquí se mostrarán los mensajes de error -->
    {{#if errors.length}}
        <ul>
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <!-- Botón para enviar el formulario -->
    <input type="submit" value="Crear Media">
</form>
<br>

</body>
</html>


