<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        .navigation {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .navigation a {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 0 10px;
        }

        .navigation a:hover {
            background-color: #6a5acd;
        }

        section {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            background-color: #e6e6fa;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #8a2be2;
            color: white;
        }

        td {
            background-color: #f0f0f5;
        }

        td a {
            color: #4b0082;
        }

        td img {
            display: block;
            margin: 0 auto;
        }

        i.fas {
            font-size: 20px;
        }

        span {
            display: block;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
            color: #4b0082;
        }

        form label {
            display: block;
            margin: 10px 0 5px;
            color: #4b0082;
        }

        form input[type="text"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: calc(100% - 12px);
        }

        form input[type="submit"] {
            background-color: #4b0082;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        form input[type="submit"]:hover {
            background-color: #6a5acd;
        }

        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            animation: modalopen 0.4s;
        }

        @keyframes modalopen {
            from { opacity: 0; transform: translateY(-50px); }
            to { opacity: 1; transform: translateY(0); }
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #media-details img {
            max-width: 100%;
        }

        #media-details {
            color: #333;
        }

        #media-details h2 {
            color: #4b0082;
        }
    </style>
</head>
<body>


<h1>Media</h1>
<h2>Listado</h2>


<section>
    <div>
        <h3>Filtrar datos</h3>
        <form method="get" action="/admin/media/listar">
            <label>ID</label>
            <input type="text" name="s[id]">

            <label>Integrante</label>
            <input type="text" name="s[nombre]">

            <label>Título</label>
            <input type="text" name="s[titulo]">

            <input type="submit" value="Filtrar">
        </form>
    </div>
</section>

<section>
    <table>
        <tr>
            <th>Id</th>
            <th>Orden</th>
            <th>Tipo Media</th>
            <th>Url</th>
            <th>Src</th>
            <th>título</th>
            <th>Integrante</th>
            <th>Matrícula</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>
        {{#each media}}
            <tr>
                <td> <a href="/admin/media/edit/{{id}}">{{id}}</a></td>
                <td> {{nro_orden}} </td>
                <td> {{nombre}} </td>
                <td>
                    {{#if url}}
                        <a href="{{url}}" target="_blank">{{url}}</a>
                    {{else}}
                        <div style="text-align: center">
                            <i class="fas fa-minus" style="color: gray"></i>
                        </div>
                    {{/if}}
                </td>
                <td>
                    {{#if src}}
                        <img style="height: 75px; width: 75px;" src="{{src}}" alt="imagen">
                    {{else}}
                        <div style="text-align: center">
                            <i class="fas fa-minus" style="color: gray"></i>
                        </div>
                    {{/if}}
                </td>
                <td> {{titulo}} </td>
                <td>{{integranteNombre}}</td>
                <td>{{matricula}}</td>
                <td><button class="view-details" data-id="{{id}}">Detalles</button></td>

                <td>
                    <form action="/admin/media/delete/{{id}}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
    <section>
        {{#if media.length}}
            <span>Total de media: {{media.length}}</span>
        {{else}}
            <span>No hay media registrados</span>
        {{/if}}
    </section>
    <nav class="navigation">
        <a href="/admin">Volver</a>
        <a href="/admin/media/crear">Crear nuevo</a>
    </nav>
</section>

<!-- Modal para mostrar los detalles del media -->
<div id="mediaModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="media-details"></div>
    </div>
</div>

<script>
    document.querySelectorAll('.view-details').forEach(button => {
        button.addEventListener('click', async (e) => {
            const id = e.target.getAttribute('data-id');
            const response = await fetch(`/admin/media/${id}`);
            const media = await response.json();

            const detailsDiv = document.getElementById('media-details');
            detailsDiv.innerHTML = `
                <h2>Detalles del Media</h2>
                <p>ID Media: ${media.id}</p>
                <p>NRO de Orden: ${media.nro_orden}</p>
                <p>Título: ${media.titulo}</p>
                <p>Imagen: ${media.src ? `<img src="${media.src}" alt="Imagen" style="max-width: 100%;">` : 'No disponible'}</p>
                <p>Video: ${media.url ? `<a href="${media.url}" target="_blank">${media.url}</a>` : 'No disponible'}</p>
                <p>Integrante: ${media.integranteNombre}</p>
                <p>Matrícula: ${media.matricula}</p>
            `;

            const modal = document.getElementById('mediaModal');
            modal.style.display = 'block';
        });
    });

    document.querySelector('.modal .close').addEventListener('click', () => {
        document.getElementById('mediaModal').style.display = 'none';
    });

    window.onclick = function(event) {
        const modal = document.getElementById('mediaModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>

</body>
</html>
