<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Integrante</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        section {
            padding: 20px;
        }

        form {
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            margin: 20px auto;
            width: 80%;
            max-width: 600px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-top: 10px;
            color: #4b0082;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        input[type="submit"]:hover {
            background-color: #6a5acd;
        }

        .btn {
            background-color: #4b0082;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        .btn-volver {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Integrante</h1>

<h2>Editar {{integrante.matricula}}</h2>
<a href="/admin/integrante/listar" class="btn btn-volver">Volver al listado de integrantes</a>
<section>
    {{#if errors.length}}
        <div class="error-messages">
            <ul>
                {{#each errors}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    <form action="/admin/integrante/update/{{integrante.matricula}}" method="post">
        <fieldset>
            <label for="matricula">Matrícula</label>
            <input type="text" id="matricula" name="matricula" placeholder="Matrícula" value="{{integrante.matricula}}" disabled>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{integrante.nombre}}">

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" value="{{integrante.apellido}}">

            <label for="pagina">Página</label>
            <input type="text" id="pagina" name="pagina" placeholder="Ingrese de vuelta su matricula" value="{{integrante.pagina}}" disabled>

            <label for="activo">Activo</label>
            <select id="activo" name="activo">
                <option value="1" {{#if (eq integrante.activo 1)}}selected{{/if}}>Activo</option>
                <option value="0" {{#if (eq integrante.activo 0)}}selected{{/if}}>Inactivo</option>
            </select>
        </fieldset>
        <input type="submit" value="Actualizar">
    </form>
</section>
</body>
</html>
