<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de Integrantes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        .navigation {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .navigation a {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 0 10px;
        }

        .navigation a:hover {
            background-color: #6a5acd;
        }

        section {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #8a2be2;
            color: white;
        }

        td {
            background-color: #e6e6fa;
        }

        td a {
            color: #4b0082;
        }

        td img {
            display: block;
            margin: 0 auto;
        }

        i.fas {
            font-size: 20px;
        }

        span {
            display: block;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
            color: #4b0082;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            animation: modalopen 0.4s;
            border-radius: 10px;
        }

        @keyframes modalopen {
            from { opacity: 0; transform: translateY(-50px); }
            to { opacity: 1; transform: translateY(0); }
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        form label {
            display: block;
            margin: 10px 0 5px;
            color: #4b0082;
        }

        form input[type="text"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: calc(100% - 12px);
        }

        form input[type="submit"] {
            background-color: #4b0082;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        form input[type="submit"]:hover {
            background-color: #6a5acd;
        }

    </style>
</head>
<body>
{{#if successMessage}}
    <div class="alert alert-success" style="background-color: #d4edda; border-color: #c3e6cb; color: #155724; padding: 10px; margin-bottom: 15px;">
        {{successMessage}}
    </div>
{{/if}}

<h1>Integrantes</h1>
<h2>Listado</h2>

<section>
    <div>
        <h3>Filtrar datos</h3>
        <form method="get" action="/admin/integrante/listar">
            <label>Matrícula</label>
            <input type="text" name="s[matricula]">

            <label>Nombre</label>
            <input type="text" name="s[nombre]">

            <label>Apellido</label>
            <input type="text" name="s[apellido]">

            <input type="submit" value="Filtrar">
        </form>
    </div>
</section>

<section>
    <table>
        <tr>
            <th>Orden</th>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Activo</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>

        <tbody>
        {{#each integrantes}}
            <tr>
                <td>{{nro_orden}}</td>
                <td><a href="/admin/integrante/edit/{{matricula}}">{{matricula}}</a></td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{#if activo}}
                    <span>Activo</span>
                {{else}}
                    <span>Inactivo</span>
                {{/if}}</td>
                <td>
                    <button class="view-details" data-matricula="{{this.matricula}}">Ver detalles</button>
                </td>
                <td>
                    <form action="/admin/integrante/delete/{{this.matricula}}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
    <section>
        {{#if integrantes.length}}
            <span>Total de integrantes: {{integrantes.length}}</span>
        {{else}}
            <span>No hay integrantes registrados</span>
        {{/if}}
    </section>
    <nav class="navigation">
        <a href="/admin">Volver</a>
        <a href="/admin/integrante/crear">Crear nuevo</a>
    </nav>
</section>


<!-- Modal para mostrar los detalles del integrante -->
<div id="integranteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="integrante-details"></div>
    </div>
</div>

<script>
    document.querySelectorAll('.view-details').forEach(button => {
        button.addEventListener('click', async (e) => {
            const matricula = e.target.getAttribute('data-matricula');
            const response = await fetch(`/admin/integrante/${matricula}`);
            const integrante = await response.json();

            const detailsDiv = document.getElementById('integrante-details');
            detailsDiv.innerHTML = `
                <h2>Detalles del Integrante</h2>
                <p>Matrícula: ${integrante.matricula}</p>
                <p>Nombre: ${integrante.nombre}</p>
                <p>Apellido: ${integrante.apellido}</p>
                <p>Activo: ${integrante.activo ? 'Sí' : 'No'}</p>
            `;
            const modal = document.getElementById('integranteModal');
            modal.style.display = 'block';
        });
    });

    document.querySelector('.modal .close').addEventListener('click', () => {
        document.getElementById('integranteModal').style.display = 'none';
    });

    window.onclick = function(event) {
        const modal = document.getElementById('integranteModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>

</body>
</html>


