<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        /* Reset default styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Section styles */
        section {
            width: 100%;
            max-width: 400px;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Container styles */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Header styles */
        h2 {
            width: 100%;
            text-align: center;
            color: #333;
            margin-bottom: 20px;
            position: relative;
        }

        /* Back icon styles */
        h2 i {
            position: absolute;
            left: 20px;
            top: 0;
            font-size: 24px;
            color: #007bff;
            cursor: pointer;
        }

        /* Input field styles */
        .form-control {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .form-control:focus {
            border-color: #007bff;
            outline: none;
        }

        /* Button styles */
        .btn {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            color: #fff;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        /* Toast notification styles */
        .toast {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<section>
    <form class="container py-5 h-100" action="/auth/login" method="post">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2><i class="fas fa-arrow-circle-left" onclick="window.location.href='/'"></i> Login</h2>
            <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email"/>
            </div>
            <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Contraseña"/>
            </div>
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        </div>
    </form>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errores = decodeURIComponent(error).split(';');
            errores.forEach((error) => {
                toastr.error(error);
            });
        }
    };
</script>
</body>
</html>
